<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ui-sref="tab.fee"></button>
    <div class="title">缴费详情</div>
</ion-header-bar>
<ion-content class="page page-index" has-bouncing="true" overflow-scroll="false" style="padding-botom:44px;">
    <p style="text-align:center;margin-top:12px;">新华教育收费</p>
    <p style="text-align:center;margin-top:12px;font-size:24px;font-weight:bold;">&yen;1.0</p>
    <p style="text-align:center;margin-top:12px;color:orange;margin-bottom:20px;">等待家长收费</p>

    <div style="position:relative;">
        <span style="position:absolute;left:5px;">缴费名称:</span>
        <p style="margin-left:84px;margin-right:10px;">紧急收费</p>
    </div>
    <div style="position:relative;">
        <span style="position:absolute;left:5px;">订单编号:</span>
        <p style="margin-left:84px;margin-right:10px;">3123132121485743908121321321321323132</p>
    </div>
    <div style="position:relative;">
        <span style="position:absolute;left:5px;">创建时间:</span>
        <p style="margin-left:84px;margin-right:10px;">2017-02-02</p>
    </div>
    <div style="position:relative;">
        <span style="position:absolute;left:5px;">学生姓名:</span>
        <p style="margin-left:84px;margin-right:10px;">丽丽</p>
    </div>
    <div style="position:relative;">
        <span style="position:absolute;left:5px;">收费学校:</span>
        <p style="margin-left:84px;margin-right:10px;">吃成一中</p>
    </div>
    <div style="position:relative;">
        <span style="position:absolute;left:5px;">班级名称:</span>
        <p style="margin-left:84px;margin-right:10px;">1班</p>
    </div>
    <div style="position:relative;">
        <span style="position:absolute;left:5px;">交易编号:</span>
        <p style="margin-left:84px;margin-right:10px;">W123213133</p>
    </div>
    <div style="position:relative;">
        <span style="position:absolute;left:5px;">明细:</span>
        <p style="margin-left:84px;margin-right:10px;">书本费1.0</p>
    </div>
    <div style="position:relative;">
        <span style="position:absolute;left:5px;">收费依据:</span>
        <p style="margin-left:84px;margin-right:10px;">测试1.0</p>
    </div>
</ion-content>
<button style="background:#21b2ff;border:0;position: fixed;width:100%;color:white;height: 32px;bottom: 0;left: 0;" ui-sref="payOrder">立即缴费</button>