<ion-header-bar align-title="center" class="app-bar">
    <div class="buttons">
        <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
    </div>
    <div class="title">学生信息维护</div>
</ion-header-bar>
<ion-content class="page page-index" has-bouncing="true" overflow-scroll="false">
    <div class="card">
        <div class="item item-text-wrap">
            <p>学生姓名：晓虹</p>
            <p>学生学校：河溪中学</p>
            <p>学生班级：3年级一班</p>
        </div>
        <div class="item item-text-wrap">
            <p>身份证：4406891995012399999</p>
        </div>
    </div>
    <div class="card">
        <div class="item item-text-wrap">
            <p>待缴费订单：</p>
        </div>
        <div class="item item-text-wrap" ui-sref="orderDetail({id:xx})">
            <span>教辅材料</span>
            <span class="f-24 fr c-main">&gt;</span>
        </div>
    </div>
</ion-content>