<ion-header-bar align-title="center" class="app-bar">
    <div class="title">交费订单</div>
</ion-header-bar>
<ion-content class="page page-index" has-bouncing="true" overflow-scroll="false">
    <div class="card">
        <div class="item item-text-wrap">
            <p>订单编号：E32123456</p>
            <p>订单状态：待支付</p>
        </div>
        <div class="item item-text-wrap">
            <p>1.课程辅导（54*4本）</p>
            <p>2.教辅资料（54*4本）</p>
            <p>3.黄冈资料（54*4本）</p>
        </div>
        <div class="item item-text-wrap" ui-sref="studentList">
            <span>学生列表</span>
            <span class="f-24 fr">&gt;</span>
        </div>
        <div class="item item-text-wrap">
            <p>商品总价：31230.12元</p>
        </div>
        <div class="item item-text-wrap" ui-sref="orderDetail({id:xx})">
            <span>订单详情</span>
            <span class="f-24 fr c-main">更多&gt;&gt;</span>
        </div>
    </div>
    <div class="card">
        <div class="item item-text-wrap">
            <p>订单编号：E32123456</p>
            <p>订单状态：待支付</p>
        </div>
        <div class="item item-text-wrap">
            <p>1.课程辅导（54*4本）</p>
            <p>2.教辅资料（54*4本）</p>
            <p>3.黄冈资料（54*4本）</p>
        </div>
        <div class="item item-text-wrap" ui-sref="studentList">
            <span>学生列表</span>
            <span class="f-24 fr">&gt;</span>
        </div>
        <div class="item item-text-wrap">
            <p>商品总价：31230.12元</p>
        </div>
        <div class="item item-text-wrap" ui-sref="orderDetail({id:xx})">
            <span>订单详情</span>
            <span class="f-24 fr c-main">更多&gt;&gt;</span>
        </div>
    </div>
</ion-content>