<ion-header-bar align-title="center" class="app-bar">
    <div class="title">缴费</div>
</ion-header-bar>
<ion-content class="page page-index" has-bouncing="true" overflow-scroll="false">
    <div class="list card">
        <div class="item">
            <h2>您有2个未缴费项目</h2>
        </div>
    </div>
    <div class="list card">
        <div class="item" ui-sref="feeDetail">
            <p>紧急收费（李晓丽）</p>
        </div>
        <div class="item" ui-sref="feeDetail">
            <p>紧急收费（李晓宏）</p>
        </div>
    </div>
</ion-content>