<ion-header-bar align-title="center" class="app-bar">
    <div class="title">我的学生</div>
</ion-header-bar>
<ion-content class="page page-index" has-bouncing="true" overflow-scroll="false">
    <div class="list card" ui-sref="studentDetail">
        <div class="item item-avatar">
            <img src="img/portrait.png">
            <h2>晓虹</h2>
            <p>高三一班 (11-05-1995)</p>
        </div>
    </div>
    <div class="list card" ui-sref="studentDetail">
        <div class="item item-avatar">
            <img src="img/portrait.png">
            <h2>小明</h2>
            <p>高三一班 (11-05-1995)</p>
        </div>
    </div>
</ion-content>