<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">品牌型号选择</div>
</ion-header-bar>
<ion-content class="page page-user page-repair" scroll="false">
  <div class="brand-choose-wrap">
    <div class="left-bar">
        <div class="left-bar-item {{standard == $index ? 'c-main' : ''}}" ng-repeat="v in phoneBrand" ng-click="getLevel2(v.id,v,$index)">{{v.name}}</div>
    </div>
      <div class="main">
          <div class="sub">
              <div class="main-item {{model == $index ? 'active' : ''}}" ng-repeat="m in phoneModel" ng-click="Level3(m.id,m,$index)">{{m.name}}</div>
          </div>
      </div>
  </div>
  <div class="repair-bot">
    <div class="clearfix">
      <button class="button btn-main fr" ng-click="toDeeperMenu()">下一步</button>
    </div>
  </div>
</ion-content>
