<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">维修服务选择</div>
    <!-- <button class="button button-clear" ng-click="costDetails()">费用说明</button> -->
    <button class="button button-clear" ng-click="openModal()">费用说明</button>
</ion-header-bar>
<ion-content class="page page-user page-repair" scroll="false">
    <div class="brand-choose-wrap">
        <div class="left-bar">
            <div class="left-bar-item {{standard == $index ? 'c-main' : ''}}" ng-repeat="v in phoneParts" ng-click="getLevel5(v.id,v,$index)">{{v.name}}</div>
        </div>
        <div class="main">
            <div class="sub">
              <div class="main-item {{ m.isSelected ? 'active' : ''}}" ng-repeat="m in phoneFault" ng-click="getLevel5Id($index)">{{m.name}}</div>
            </div>
        </div>
    </div>
    <div class="repair-bot">
        <div class="clearfix">
            <p class="f-28 fl m-0 mt-10">费用：<span class="f-34 c-main">&yen;{{price}}</span></p>
            <button class="button btn-main fr" ng-click="submitOrder()">提交</button>
        </div>
    </div>
</ion-content>
<script id="my-modal.html" type="text/ng-template">
    <div class="modal">
        <ion-header-bar align-title="center" class="app-bar">
            <div class="title">费用说明</div>
        </ion-header-bar>
        <ion-content class="page page-user" has-bouncing="true" overflow-scroll="false">
            <div class="f-34 mt-20 clearfix container ptb-20" ng-bind-html="feeExplain">

            </div>
            <div class="text-center">
                <button class="button btn-main-big mt-30 text-align" ng-click="closeModal()">确定</button>
            </div>
        </ion-content>
    </div>
</script>
