<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">联系客服</div>
</ion-header-bar>
<ion-content class="page-user page-order" has-bouncing="true" overflow-scroll="false">
    <div class="ptb-10 page"></div>
    <div class="text-center" style="border-top: 1px solid #ccc;">
        <div class="ptb-10"></div>
        <img src="http://placehold.it/500x500" style="width: 250px; height:250px; " alt="">
        <div class="f-28 c-6">
            <p class="m-0">请扫码或搜索VR数码前线关注我司微信</p>
            <p class="m-0">公众号数码在线联系客服</p>
            <p class="m-0">或拨打热线电话：
                <a class="c-main" href="tel:0755-83585093">0755-83585093</a>
            </p>
        </div>
    </div>
</ion-content>
