<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">钱款去向</div>
</ion-header-bar>
<ion-content class="page-user page page-order" has-bouncing="true" overflow-scroll="false">
    <div class="item mtb-15 bd-lr-none">
        <span class="f-28">退回余额</span>
        <span class="item-note f-28 c-red">
            &yen;199.00
        </span>
    </div>
    <p class="c-6 f-28 container mt-20">
        <span>有疑问？&nbsp;</span>
        <span class="c-main" style="text-decoration: underline;" ui-sref="cusService">联系客服</span>
    </p>
</ion-content>
