<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">我的收藏</div>
</ion-header-bar>
<ion-content class="page page-user" has-bouncing="true" overflow-scroll="false">
    <div>
        <ion-list can-swipe="true">
            <ion-item class="discover-list-item discover-list-item-user p-0" ui-sref="indexProDetail({goodId:v.id})">
                <div class="img-wrap">
                    <img ng-src="{{v.cover}}" alt="">
                </div>
                <div class="text-wrap">
                    <p class="f-34 text-overflow">{{v.name}}</p>
                    <p class="text-main">{{v.abstract}}</p>
                    <p class="clearfix f-24 c-6">
                        <span class="fl c-red f-28">&yen;{{v.price}}</span>
                        <span class="fr">月销量：{{v.sales}}笔</span>
                    </p>
                </div>
                <ion-option-button class="button-assertive" ng-click="cancelLike(v,$index,2)">取消收藏</ion-option-button>
            </ion-item>
        </ion-list>
    </div>
    <div class="text-center mt-30 f-30 c-9" ng-if="noData">已加载全部</div>
    <ion-infinite-scroll ng-if="!noData" on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll>
</ion-content>
