<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">修改密码</div>
</ion-header-bar>
<ion-content class="page page-user" has-bouncing="true" overflow-scroll="false">
    <div class="container mt-20">
        <div class="item ptb-10">
            <input type="password" class="edit-input" placeholder="请输入当前密码" ng-model="user.nowPassword">
        </div>
        <div class="item ptb-10 mt-20">
            <input type="password" class="edit-input" placeholder="请输入新密码(不少于6位字符)" ng-model="user.newPassword">
        </div>
        <div class="item ptb-10 mt-20">
            <input type="password" class="edit-input" placeholder="请再次输入新密码" ng-model="user.newPasswordR">
        </div>
        <div class="text-center">
            <button class="button btn-main mt-30" ng-click="editPassword()">确定</button>
        </div>
    </div>
</ion-content>
