<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">我的社区积分</div>
</ion-header-bar>
<ion-content class="page page-user" has-bouncing="true" overflow-scroll="false">
    <div class="item mtb-15 bd-lr-none ptb-50 text-center">
        <span class="f-34 c-6">我的的社区积分：<span class="c-main">{{point}}</span></span>
    </div>
    <div class="item mtb-15 bd-lr-none">
        <span class="f-34">积分规则</span>
        <table class="community-table mt-20">
            <thead>
                <tr>
                    <th>项目</th>
                    <th>积分</th>
                    <th>说明</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="v in rules">
                    <td>{{v.title}}</td>
                    <td>{{v.point}}</td>
                    <td>{{v.content}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="item mtb-15 bd-lr-none">
        <span class="f-34">积分记录</span>
        <div class="mt-10"></div>
        <div class="f-24 c-6 clearfix" ng-repeat="v2 in pointRecord track by $index">{{v2.title}}<span class="fr c-main">+{{v2.point}}</span></div>
        <div class="text-center mt-30 f-26 c-9" ng-if="noData">已加载全部</div>
    </div>
    <ion-infinite-scroll ng-if="!noData" on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll>
</ion-content>
