<ion-header-bar align-title="center" class="app-bar"  ng-hide="hideBar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">夺宝记录</div>
    <button class="button button-clear" ui-sref="tab.yiyuan">立即夺宝</button>
</ion-header-bar>
<ion-content class="page page-user"  ng-class="hideBar ? 'top-0' : 'has-header'" has-bouncing="true" overflow-scroll="true" scroll="true">
    <iframe id="iframe" ng-src='{{myURL}}' style="width: 100%;height: 100%;" class="{{hideBar ? 'withSatusBar' : ''}}"></iframe>
    <!-- <div class="yiyuan-record-top b-bot">
        <div class="top-item">
            <button class="button-clear-me">全部</button>
        </div>
        <div class="top-item active">
            <button class="button-clear-me bd-lr">进行中</button>
        </div>
        <div class="top-item">
            <button class="button-clear-me">已揭晓</button>
        </div>
    </div>
    <div class="yiyuan-item b-bot">
        <div class="img-wrap">
            <img src="http://placehold.it/160x160" alt="">
        </div>
        <div class="main-wrap f-26">
            <p >阿迪王</p>
            <p class="c-9 mt-10">期号：13</p>
            <p class="c-6 mt-10 clearfix">本期参与：<span class="c-red">20</span>人次
                <span class="c-main f-26 fr">查看详情</span>
            </p>
            <p class="c-red">揭晓倒计时</p>
            <p class="c-red"><i class="ion-ios-clock-outline c-9 f-34"></i>&nbsp;06:41.49</p>
        </div>
    </div>
    <div class="yiyuan-item b-bot">
        <div class="img-wrap">
            <img src="http://placehold.it/160x160" alt="">
        </div>
        <div class="main-wrap f-26">
            <p >阿迪王</p>
            <p class="c-9 mt-10">期号：13</p>
            <p class="c-6 mt-10 clearfix">本期参与：<span class="c-red">20</span>人次
                <span class="c-main f-26 fr">查看详情</span>
            </p>
            <p class="c-red">揭晓倒计时</p>
            <p class="c-red"><i class="ion-ios-clock-outline c-9 f-34"></i>&nbsp;06:41.49</p>
        </div>
    </div>
    <div class="yiyuan-item b-bot">
        <div class="img-wrap">
            <img src="http://placehold.it/160x160" alt="">
        </div>
        <div class="main-wrap f-26">
            <p >阿迪王</p>
            <p class="c-9 mt-10">期号：13</p>
            <p class="c-6 mt-10 clearfix">
                <span>本期参与：<span class="c-red">20</span>人次</span>
                <span class="c-main f-26 fr">查看详情</span>
            </p>
            <div class="result c-6 mt-10">
                <p>获奖者：<span class="c-main">大叔大婶</span>（ID：5）</p>
                <p>幸运号码：<span class="c-red">13132113</span></p>
                <p>揭晓时间：2016-05-16&nbsp;20:15:24</p>
            </div>
        </div>
    </div> -->
</ion-content>
