<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">晒单分享</div>
</ion-header-bar>
<ion-content class="page page-user" has-bouncing="true" overflow-scroll="false">
    <div class="yiyuan-share">
        <div class="bg-white">
            <input type="text" style="border-bottom:1px solid #ccc;" placeholder="标题(可选)">
            <textarea rows="6" class="mt-20" placeholder="正文内容......"></textarea>
        </div>
        <div class="bg-gray">
            <div class="ptb-20"></div>
            <img src="http://placehold.it/160x120" class="share-img">
            <div class="share-img add-img">+</div>
            <div class="ptb-50"></div>
        </div>
    </div>
    
</ion-content>
