<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">我的夺宝</div>
</ion-header-bar>
<ion-content class="page page-user" has-bouncing="true" overflow-scroll="false">
    <div class="mtb-15">
        <a class="item ptb-20 bd-lr-none" ui-sref="myYiyuanRecord">
            <span class="f-26">夺宝记录</span>
            <i class="item-note c-3 f-34 ion-chevron-right"></i>
        </a>
        <a class="item ptb-20 bd-lr-none" ui-sref="myYiyuanPrize">
            <span class="f-26">中奖记录</span>
            <i class="item-note c-3 f-34 ion-chevron-right"></i>
        </a>
        <a class="item ptb-20 bd-lr-none" ui-sref="myYiyuanMyShare">
            <span class="f-26">我的晒单</span>
            <i class="item-note c-3 f-34 ion-chevron-right"></i>
        </a>
    </div>
    
</ion-content>
