<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">中奖记录</div>
    <button class="button button-clear" ui-sref="tab.yiyuan">立即夺宝</button>
</ion-header-bar>
<ion-content class="page page-user" has-bouncing="true" overflow-scroll="true" scroll="true">
    <iframe id="iframe" ng-src='{{myURL}}' style="width: 100%;height: 100%;"></iframe>
    <!-- <div class="mtb-15 b-top">
        <div class=" b-bot">
            <div class="yiyuan-item">
                <div class="img-wrap">
                    <img src="http://placehold.it/160x160" alt="">
                </div>
                <div class="main-wrap f-26">
                    <p>阿迪王</p>
                    <p class="c-9 mt-10">期号：13</p>
                    <p class="c-9">总需：50人次</p>
                    <p class="c-6 clearfix">本期参与：<span class="c-red">20</span>人次</p>
                    <p class="c-6 clearfix">幸运号码：<span class="c-red">1231321546</span>
                        <span class="c-main f-26 fr">查看我的号码</span>
                    </p>
                </div>
            </div>
            <div class="yiyuan-result">
                <div class="main">
                    <p class="m-0 f-30">物流信息</p>
                    <p class="m-0 c-6 f-26 mt-10">物流状态：<span class="c-red">待发货</span></p>
                    <p class="m-0 c-6 f-26">收货地址：广州市天河区天河北路906号高科大厦A座2205</p>
                    <p class="m-0 c-6 f-26">快递单号：123123213213231</p>
                    <div class="btn-status">确认收货地址</div>
                </div>
            </div>
        </div>
        <div class=" b-bot">
            <div class="yiyuan-item">
                <div class="img-wrap">
                    <img src="http://placehold.it/160x160" alt="">
                </div>
                <div class="main-wrap f-26">
                    <p>阿迪王</p>
                    <p class="c-9 mt-10">期号：13</p>
                    <p class="c-9">总需：50人次</p>
                    <p class="c-6 clearfix">本期参与：<span class="c-red">20</span>人次</p>
                    <p class="c-6 clearfix">幸运号码：<span class="c-red">1231321546</span>
                        <span class="c-main f-26 fr">查看我的号码</span>
                    </p>
                </div>
            </div>
            <div class="yiyuan-result">
                <div class="main">
                    <p class="m-0 f-30">物流信息</p>
                    <p class="m-0 c-6 f-26 mt-10">物流状态：<span class="c-red">待发货</span></p>
                    <p class="m-0 c-6 f-26">收货地址：广州市天河区天河北路906号高科大厦A座2205</p>
                    <p class="m-0 c-6 f-26">快递单号：123123213213231</p>
                    <div class="btn-status">等待发货</div>
                </div>
            </div>
        </div>
    </div> -->
</ion-content>