<ion-header-bar align-title="center" class="app-bar" ng-hide="hideBar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">我的晒单</div>
    <button class="button button-clear" ui-sref="tab.yiyuan">立即夺宝</button>
</ion-header-bar>
<ion-content class="page page-user" ng-class="hideBar ? 'top-0' : 'has-header'" has-bouncing="true" overflow-scroll="true" scroll="true">
    <iframe id="iframe" ng-src='{{myURL}}' style="width: 100%;height: 100%;"></iframe>
    <!-- <div class="speak-top mtb-15">
        <div class="speak-top-item active">
            人气最高
        </div>
        <div class="speak-top-item">
            评论最多
        </div>
    </div>
    <div class="yiyuan-share">
        <div class="bg-white b-top" style="padding: 0;">
            <div class="item item-avatar" style="border: none;margin: 0">
                <img src="venkman.jpg">
                <div class="c-red f-26">afasdf</div>
                <div class="c-9 f-26">17时28分</div>
            </div>
            <div class="bg-white">
                <div class="bg-gray">
                    <p class="m-0 f-34">额</p>
                    <p class="m-0 f-26 c-6">奖品：大叔大婶</p>
                    <p class="m-0 f-26 c-6">期号：9</p>
                    <p class="m-0 f-26">哈哈哈啊哈哈哈哈哈</p>
                    <p class="mt-10">
                        <img src="http://placehold.it/160x120" class="share-img" alt="">
                    </p>
                    <p class="text-right c-9">
                        <span class="mr-30"><i class="iconfont icon-like"></i>&nbsp;&nbsp;0</span>
                        <span class="mr-30"></span>
                        <span><i class="iconfont icon-comment"></i>&nbsp;&nbsp;0</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="yiyuan-share">
        <div class="bg-white b-top" style="padding: 0;">
            <div class="item item-avatar" style="border: none;margin: 0">
                <img src="venkman.jpg">
                <div class="c-red f-26">afasdf</div>
                <div class="c-9 f-26">17时28分</div>
            </div>
            <div class="bg-white">
                <div class="bg-gray">
                    <p class="m-0 f-34">额</p>
                    <p class="m-0 f-26 c-6">奖品：大叔大婶</p>
                    <p class="m-0 f-26 c-6">期号：9</p>
                    <p class="m-0 f-26">哈哈哈啊哈哈哈哈哈</p>
                    <p class="mt-10">
                        <img src="http://placehold.it/160x120" class="share-img" alt="">
                    </p>
                    <p class="text-right c-9">
                        <span class="mr-30"><i class="iconfont icon-like"></i>&nbsp;&nbsp;0</span>
                        <span class="mr-30"></span>
                        <span><i class="iconfont icon-comment"></i>&nbsp;&nbsp;0</span>
                    </p>
                </div>
            </div>
        </div>
    </div> -->
</ion-content>
