<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">关于我们</div>
</ion-header-bar>
<ion-content class="page-user" has-bouncing="true" overflow-scroll="true">
    <div class="page" style="height: 12px;"></div>
    <div class="about-us-wrap rich-text" ng-bind-html="content | trustHtml">
         关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们
    </div>
</ion-content>