<ion-header-bar align-title="center" class="app-bar">
    <div class="title">我的</div>
    <button class="button button-clear" ui-sref="setting">设置</button>
</ion-header-bar>
<ion-content class="page page-user" has-bouncing="true" overflow-scroll="false">
    <div class="list">
        <a class="item item-icon-left mtb-15 ptb-50 text-overflow" ui-sref="userInfo" ng-if="!noLogin">
        	<img ng-src="{{user.user_img}}" alt="" class="avatar">
        	<span class="f-34 text-overflow" style="display: inline-block;max-width: 70%;margin-left: 25px;">{{user.nickname}}</span>
            <i class="item-note c-3 f-34 ion-chevron-right"></i>
        </a>
        <a class="item item-icon-left mtb-15 ptb-50" ng-if="noLogin" ui-sref="login">
            <span class="c-main f-34">登录/注册</span>
            <i class="item-note c-3 f-34 ion-chevron-right"></i>
        </a>
        <div class="mtb-15">
            <a class="item item-icon-left bd-lr-none" ui-sref="orders">
                <i class="icon iconfont icon-order"></i>
                <span>我的订单</span>
                <i class="item-note c-3 f-34 ion-chevron-right"></i>
            </a>
            <a class="item item-icon-left bd-lr-none" ui-sref="coupon">
                <i class="icon iconfont icon-coupon"></i>
                <span>我的优惠</span>
                <i class="item-note c-3 f-34 ion-chevron-right"></i>
            </a>
        </div>
        <div class="mtb-15">
            <a class="item item-icon-left bd-lr-none" ui-sref="message">
                <i class="icon iconfont icon-message"></i>
                <span class="{{newMessage ? 'unread' : ''}}">我的消息</span>
                <i class="item-note c-3 f-34 ion-chevron-right"></i>
            </a>
            <a class="item item-icon-left bd-lr-none">
                <i class="icon iconfont icon-fayan"></i>
                <span>积分明细</span>
                <i class="item-note c-3 f-34 ion-chevron-right"></i>
            </a>
            <a class="item item-icon-left bd-lr-none" ui-sref="collection">
                <i class="icon iconfont icon-like-full"></i>
                <span>我的收藏</span>
                <i class="item-note c-3 f-34 ion-chevron-right"></i>
            </a>
        </div>
    </div>
</ion-content>
