<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">支付设置</div>
</ion-header-bar>
<ion-content class="page-user page" has-bouncing="true" overflow-scroll="false">
    <div ng-show="noBindPhone">
        <div class="text-center">
            <p class="c-9 f-34 mt-30">尚未绑定手机!</p>
            <button class="button btn-main mt-10" ui-sref="editPhone({fromPage:'balanceSetting'})">马上绑定</button>
        </div>
    </div>
    <div ng-show="!noBindPhone">
        <div class="text-center" ng-show="noPassword">
            <p class="c-9 f-34 mt-30">尚未设置支付密码!</p>
            <button class="button btn-main mt-10" ui-sref="balancePhoneCode">马上设置</button>
        </div>
        <a class="item mtb-15 bd-lr-none" ui-sref="balancePhoneCode" ng-show="!noPassword">
            <span class="f-26">重置密码</span>
            <i class="item-note c-3 f-34 ion-chevron-right"></i>
        </a>
    </div>
</ion-content>
