<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">上新</div>
</ion-header-bar>
<ion-content class="page page-index" has-bouncing="true" overflow-scroll="false">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <div class="mtb-15">
        <div class="index-list text-center">
            <div class="index-item" ng-repeat="v in goodsList" ui-sref="indexProDetail({goodId:v.id})">
            <img ng-src="{{v.cover}}" alt="">
            <p class="text-left f-30 text-overflow-2 min-h-40">{{v.name}}</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                <span class="c-red f-30">&yen;{{v.price}}</span>
                <span class="fr c-6 f-24">月销量 {{v.sales}}笔</span>
            </p>
        </div>
        <div class="index-item" style="border:none" ng-if="goodsList.length % 2 == 1"></div>
        </div>
    </div>
    <div class="text-center mt-30 f-30 c-9" ng-if="noData">没有更多商品啦~</div>
    <ion-infinite-scroll ng-if="!noData" on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll>
</ion-content>
