<!-- <ion-header-bar align-title="center" class="app-bar">
    <div class="title">首页</div>
</ion-header-bar> -->
<ion-header-bar align-title="center" class="app-bar page-index p-0">
    <div class="top-bar" style="width: 100%; background-color: #21b2ff;">
        <div class="search-wrap" style="background-color: #fff;" ui-sref="search">
            <i class="ion-ios-search-strong icon-search"></i>
            <span>搜索你想要的宝贝</span>
        </div>
        <i class="iconfont icon-message {{newMessage ? 'new' : ''}}" style="color: #fff;" ng-click="jumpMyMessage()"></i>
        <!-- <i class="iconfont icon-cart" ng-click="jumpCart()" style="color: #fff;"></i> -->
    </div>
</ion-header-bar>
<ion-content class="page page-index" has-bouncing="true" overflow-scroll="false">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-slide-box class="swiper" delegate-handle="my-handle" auto-play="true" does-continue="true" slide-interval="3000">
        <!-- <ion-slide ng-repeat="v in indexBanner"> -->
        <ion-slide>
            <img ng-src="http://weiyaxunda.com/uploads/1702/041349401970.jpg" alt="{{v.title}}" ng-click="jumpInfo(v)" ng-if="v.url_type != 0">
        </ion-slide>
        <ion-slide>
            <img ng-src="http://weiyaxunda.com/uploads/1702/041349401970.jpg" alt="{{v.title}}" ng-click="jumpInfo(v)" ng-if="v.url_type != 0">
        </ion-slide>
    </ion-slide-box>
    <div style="height: 100px;" class="nav-list b-top ptb-10 mt-10 clearfix">
        <div class="list-item w-25p fl" style="padding: 0;">
            <img style="height: 5.7rem; width: 5.7rem;" ng-src="img/7@2x.png" alt="">
            <div class="f-24 c-6" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">缴费</div>
        </div>
        <div class="list-item w-25p fl" style="padding: 0;">
            <img style="height: 5.7rem; width: 5.7rem;" ng-src="img/8@2x.png" alt="">
            <div class="f-24 c-6" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">商品</div>
        </div>
        <div class="list-item w-25p fl" style="padding: 0;">
            <img style="height: 5.7rem; width: 5.7rem;" ng-src="img/9@2x.png" alt="">
            <div class="f-24 c-6" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">活动</div>
        </div>
        <div class="list-item w-25p fl" style="padding: 0;" ui-sref="tab.user">
            <img style="height: 5.7rem; width: 5.7rem;" ng-src="img/10@2x.png" alt="">
            <div class="f-24 c-6" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">会员</div>
        </div>
    </div>

    <div class="index-list bg-white b-bot">
        <div class="index-item" ui-sref="indexProDetail({goodId:v2.id})">
            <img ng-src="http://xhsdyun.com/Storage/master/product/thumbs310/310_cc94d03fb2b74850b87d04d3c7a3da78.jpg" alt="">
            <p class="text-left f-30 text-overflow-2">读者文摘</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                <span class="c-red f-30">&yen;38.00</span>
                <span class="fr c-6 f-24">月销量 5笔</span>
            </p>
        </div>
        <div class="index-item" ui-sref="indexProDetail({goodId:v2.id})">
            <img ng-src="http://xhsdyun.com/Storage/master/product/thumbs310/310_cc94d03fb2b74850b87d04d3c7a3da78.jpg" alt="">
            <p class="text-left f-30 text-overflow-2">读者文摘</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                <span class="c-red f-30">&yen;38.00</span>
                <span class="fr c-6 f-24">月销量 5笔</span>
            </p>
        </div>
        <div class="index-item" ui-sref="indexProDetail({goodId:v2.id})">
            <img ng-src="http://xhsdyun.com/Storage/master/product/thumbs310/310_69db97e719e34085b55640f8da393b2e.jpg" alt="">
            <p class="text-left f-30 text-overflow-2">大国医</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                <span class="c-red f-30">&yen;18.00</span>
                <span class="fr c-6 f-24">月销量 10笔</span>
            </p>
        </div>
        <div class="index-item" ui-sref="indexProDetail({goodId:v2.id})">
            <img ng-src="http://xhsdyun.com/Storage/master/product/thumbs310/310_cc94d03fb2b74850b87d04d3c7a3da78.jpg" alt="">
            <p class="text-left f-30 text-overflow-2">读者文摘</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                <span class="c-red f-30">&yen;38.00</span>
                <span class="fr c-6 f-24">月销量 5笔</span>
            </p>
        </div>
        <div class="index-item" ui-sref="indexProDetail({goodId:v2.id})">
            <img ng-src="http://xhsdyun.com/Storage/master/product/thumbs310/310_cc94d03fb2b74850b87d04d3c7a3da78.jpg" alt="">
            <p class="text-left f-30 text-overflow-2">读者文摘</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                <span class="c-red f-30">&yen;38.00</span>
                <span class="fr c-6 f-24">月销量 5笔</span>
            </p>
        </div>
        <div class="index-item" style="border:none" ng-if="v.goods.length % 2 == 1"></div>
    </div>

</ion-content>
