<div style="width: 100%;position:relative;z-index:10;height:42px;">
    <i class="iconfont ion-ios-location" style="position:absolute; font-size:24px;top:4px;left:10px;color:white;" ui-sref="position"></i>
    <div style="position:relative;background-color: #fff;margin-left:13%;width:74%;height:28px;margin-top:6px;border-radius:28px;" ui-sref="search">
        <i class="ion-ios-search-strong icon-search" style="font-size:24px;position:absolute;top:3px;left:5px;"></i>
        <span style="margin-left:29px;line-height: 28px;">搜索你想要的宝贝</span>
    </div>
    <span style="color:white;font-size:12;position:absolute;right:6px;top:6px;" ng-hide="user" ui-sref="login">登录</span>
</div>
<ion-content class="page page-index" has-bouncing="true" overflow-scroll="false">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-slide-box class="swiper" delegate-handle="my-handle" auto-play="true" does-continue="true" slide-interval="3000">
        <!-- <ion-slide ng-repeat="v in indexBanner"> -->
        <ion-slide>
            <img ng-src="http://weiyaxunda.com/uploads/1702/041349401970.jpg" alt="{{v.title}}" ng-click="jumpInfo(v)" ng-if="v.url_type != 0">
        </ion-slide>
        <ion-slide>
            <img ng-src="http://weiyaxunda.com/uploads/1702/041349401970.jpg" alt="{{v.title}}" ng-click="jumpInfo(v)" ng-if="v.url_type != 0">
        </ion-slide>
    </ion-slide-box>

    <div style="height: 126px;background:transparent;" class="nav-list b-top ptb-10 clearfix">
        <div class="list-item fl" style="padding: 0;">
            <img src="https://m.360buyimg.com/mobilecms/s80x80_jfs/t3208/285/1806438443/12227/e35aa8d/57d5407cN0d6adf20.png">
            <p ui-sref="indexClassify({id:123})" class="c-6" style="font-size:10px;line-height:10px;margin-top:-5px;">少儿图书</p>
        </div>
        <div class="list-item fl" style="padding: 0;">
            <img src="https://m.360buyimg.com/mobilecms/s80x80_jfs/t3208/285/1806438443/12227/e35aa8d/57d5407cN0d6adf20.png">
            <p ui-sref="indexClassify({id:123})" class="c-6" style="font-size:10px;line-height:10px;margin-top:-5px;">科技图书</p>
        </div>
        <div class="list-item fl" style="padding: 0;">
            <img src="https://m.360buyimg.com/mobilecms/s80x80_jfs/t3208/285/1806438443/12227/e35aa8d/57d5407cN0d6adf20.png">
            <p ui-sref="indexClassify({id:123})" class="c-6" style="font-size:10px;line-height:10px;margin-top:-5px;">文化教育</p>
        </div>
        <div class="list-item fl" style="padding: 0;">
            <img src="https://m.360buyimg.com/mobilecms/s80x80_jfs/t3208/285/1806438443/12227/e35aa8d/57d5407cN0d6adf20.png">
            <p ui-sref="indexClassify({id:123})" class="c-6" style="font-size:10px;line-height:10px;margin-top:-5px;">社会学科</p>
        </div>
        <div class="list-item fl" style="padding: 0;">
            <img src="https://m.360buyimg.com/mobilecms/s80x80_jfs/t3208/285/1806438443/12227/e35aa8d/57d5407cN0d6adf20.png">
            <p ui-sref="indexClassify({id:123})" class="c-6" style="font-size:10px;line-height:10px;margin-top:-5px;">文学图书</p>
        </div>
        <div class="list-item fl" style="padding: 0;">
            <img src="https://m.360buyimg.com/mobilecms/s80x80_jfs/t3208/285/1806438443/12227/e35aa8d/57d5407cN0d6adf20.png">
            <p ui-sref="indexClassify({id:123})" class="c-6" style="font-size:10px;line-height:10px;margin-top:-5px;">生活图书</p>
        </div>
        <div class="list-item fl" style="padding: 0;">
            <img src="https://m.360buyimg.com/mobilecms/s80x80_jfs/t3208/285/1806438443/12227/e35aa8d/57d5407cN0d6adf20.png">
            <p ui-sref="indexClassify({id:123})" class="c-6" style="font-size:10px;line-height:10px;margin-top:-5px;">电子产品</p>
        </div>
        <div class="list-item fl" style="padding: 0;">
            <img src="https://m.360buyimg.com/mobilecms/s80x80_jfs/t3208/285/1806438443/12227/e35aa8d/57d5407cN0d6adf20.png">
            <p ui-sref="indexClassify({id:123})" class="c-6" style="font-size:10px;line-height:10px;margin-top:-5px;">生活休闲</p>
        </div>
        <div class="list-item fl" style="padding: 0;">
            <img src="https://m.360buyimg.com/mobilecms/s80x80_jfs/t3208/285/1806438443/12227/e35aa8d/57d5407cN0d6adf20.png">
            <p ui-sref="indexClassify({id:123})" class="c-6" style="font-size:10px;line-height:10px;margin-top:-5px;">读者文摘</p>
        </div>
        <div class="list-item fl" style="padding: 0;">
            <img src="https://m.360buyimg.com/mobilecms/s80x80_jfs/t3208/285/1806438443/12227/e35aa8d/57d5407cN0d6adf20.png">
            <p ui-sref="indexClassify({id:123})" class="c-6" style="font-size:10px;line-height:10px;margin-top:-5px;">科技闲谈</p>
        </div>
    </div>

    <div style="width:90%;margin-left:5%;height:40px;position:relative;line-height:20px;" ui-sref="tab.activity">
        <p style="font-size:12px;background:white;padding:5px 10px 5px 10px;border-radius:5px"><span style="font-weight:bold;">新华消息：</span><span style="color:red">抢</span> 购买100减50啦!! </p>
        <span style="position:absolute;right: 5px;top:5px;font-size: 11px;">|&nbsp;&nbsp;更多</span>
    </div>    

    <div class="index-list bg-white b-bot">
        <div class="index-item" ui-sref="indexProDetail({goodId:v2.id})">
            <img ng-src="http://xhsdyun.com/Storage/master/product/thumbs310/310_cc94d03fb2b74850b87d04d3c7a3da78.jpg" alt="">
            <p class="text-left f-30 text-overflow-2">读者文摘</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                <span class="c-red f-30">&yen;38.00</span>
                <span class="fr c-6 f-24">月销量 5笔</span>
            </p>
        </div>
        <div class="index-item" ui-sref="indexProDetail({goodId:v2.id})">
            <img ng-src="http://xhsdyun.com/Storage/master/product/thumbs310/310_cc94d03fb2b74850b87d04d3c7a3da78.jpg" alt="">
            <p class="text-left f-30 text-overflow-2">读者文摘</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                <span class="c-red f-30">&yen;38.00</span>
                <span class="fr c-6 f-24">月销量 5笔</span>
            </p>
        </div>
        <div class="index-item" ui-sref="indexProDetail({goodId:v2.id})">
            <img ng-src="http://xhsdyun.com/Storage/master/product/thumbs310/310_69db97e719e34085b55640f8da393b2e.jpg" alt="">
            <p class="text-left f-30 text-overflow-2">大国医</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                <span class="c-red f-30">&yen;18.00</span>
                <span class="fr c-6 f-24">月销量 10笔</span>
            </p>
        </div>
        <div class="index-item" ui-sref="indexProDetail({goodId:v2.id})">
            <img ng-src="http://xhsdyun.com/Storage/master/product/thumbs310/310_cc94d03fb2b74850b87d04d3c7a3da78.jpg" alt="">
            <p class="text-left f-30 text-overflow-2">读者文摘</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                <span class="c-red f-30">&yen;38.00</span>
                <span class="fr c-6 f-24">月销量 5笔</span>
            </p>
        </div>
        <div class="index-item" ui-sref="indexProDetail({goodId:v2.id})">
            <img ng-src="http://xhsdyun.com/Storage/master/product/thumbs310/310_cc94d03fb2b74850b87d04d3c7a3da78.jpg" alt="">
            <p class="text-left f-30 text-overflow-2">读者文摘</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                <span class="c-red f-30">&yen;38.00</span>
                <span class="fr c-6 f-24">月销量 5笔</span>
            </p>
        </div>
        <div class="index-item" style="border:none" ng-if="v.goods.length % 2 == 1"></div>
    </div>

</ion-content>
