<!-- <ion-header-bar align-title="center" class="app-bar">
    <div class="title">首页</div>
</ion-header-bar> -->
<ion-header-bar align-title="center" class="app-bar page-index p-0">
    <div class="top-bar" style="width: 100%; background-color: #21b2ff;">
        <div class="search-wrap" style="background-color: #fff;" ui-sref="search">
            <i class="ion-ios-search-strong icon-search"></i>
            <span>搜索你想要的宝贝</span>
        </div>
        <i class="iconfont icon-message {{newMessage ? 'new' : ''}}" style="color: #fff;" ng-click="jumpMyMessage()"></i>
        <!-- <i class="iconfont icon-cart" ng-click="jumpCart()" style="color: #fff;"></i> -->
    </div>
</ion-header-bar>
<ion-content class="page page-index" has-bouncing="true" overflow-scroll="false">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-slide-box class="swiper" delegate-handle="my-handle" auto-play="true" does-continue="true" slide-interval="3000">
        <!-- <ion-slide ng-repeat="v in indexBanner"> -->
        <ion-slide>
            <img ng-src="http://weiyaxunda.com/uploads/1702/041349401970.jpg" alt="{{v.title}}" ng-click="jumpInfo(v)" ng-if="v.url_type != 0">
        </ion-slide>
        <ion-slide>
            <img ng-src="http://weiyaxunda.com/uploads/1702/041349401970.jpg" alt="{{v.title}}" ng-click="jumpInfo(v)" ng-if="v.url_type != 0">
        </ion-slide>
    </ion-slide-box>
    <div style="height: 86px;margin-bottom:6px;border-bottom:1px solid #e9e9e9" class="nav-list b-top ptb-10 mt-10 clearfix">
        <div class="list-item w-25p fl" style="padding: 0;">
            <button ui-sref="indexClassify({id:123})" class="f-24 c-6 button button-stable" style="overflow:hidden;border:1px solid lightgray;margin:4px;height: 28px;li;line-height: 28px;border-radius: 28px;min-height: 28px;">少儿图书</button>
        </div>
        <div class="list-item w-25p fl" style="padding: 0;">
            <button ui-sref="indexClassify({id:123})" class="f-24 c-6 button button-stable" style="overflow:hidden;border:1px solid lightgray;margin:4px;height: 28px;li;line-height: 28px;border-radius: 28px;min-height: 28px;">科技图书</button>
        </div>
        <div class="list-item w-25p fl" style="padding: 0;">
            <button ui-sref="indexClassify({id:123})" class="f-24 c-6 button button-stable" style="overflow:hidden;border:1px solid lightgray;margin:4px;height: 28px;li;line-height: 28px;border-radius: 28px;min-height: 28px;">文化教育</button>
        </div>
        <div class="list-item w-25p fl" style="padding: 0;">
            <button ui-sref="indexClassify({id:123})" class="f-24 c-6 button button-stable" style="overflow:hidden;border:1px solid lightgray;margin:4px;height: 28px;li;line-height: 28px;border-radius: 28px;min-height: 28px;">社会学科</button>
        </div>
        <div class="list-item w-25p fl" style="padding: 0;">
            <button ui-sref="indexClassify({id:123})" class="f-24 c-6 button button-stable" style="overflow:hidden;border:1px solid lightgray;margin:4px;height: 28px;li;line-height: 28px;border-radius: 28px;min-height: 28px;">文学图书</button>
        </div>
        <div class="list-item w-25p fl" style="padding: 0;">
            <button ui-sref="indexClassify({id:123})" class="f-24 c-6 button button-stable" style="overflow:hidden;border:1px solid lightgray;margin:4px;height: 28px;li;line-height: 28px;border-radius: 28px;min-height: 28px;">生活图书</button>
        </div>
        <div class="list-item w-25p fl" style="padding: 0;">
            <button ui-sref="indexClassify({id:123})" class="f-24 c-6 button button-stable" style="overflow:hidden;border:1px solid lightgray;margin:4px;height: 28px;li;line-height: 28px;border-radius: 28px;min-height: 28px;">电子产品</button>
        </div>
        <div class="list-item w-25p fl" style="padding: 0;">
            <button class="f-24 c-6 button button-stable" style="overflow:hidden;border:1px solid lightgray;margin:4px;height: 28px;li;line-height: 28px;border-radius: 28px;min-height: 28px;">生活休闲</button>
        </div>
    </div>

    <div class="item ptb-10 bd-lr-none clearfix">
        <span class="f-34">活动</span>
        <span class="f-24 fr c-main" ui-sref="tab.activity">更多&gt;&gt;</span>
    </div>
    <ion-slide-box class="swiper" delegate-handle="my-handle" auto-play="true" does-continue="true" slide-interval="3000" style="margin-bottom:6px;border-bottom:1px solid #e9e9e9">
        <ion-slide>
            <img ng-src="http://www.xhsdyun.com/Storage/template/20170210/6362231565883487878862496.jpg" alt="{{v.title}}" ng-click="jumpInfo(v)" ng-if="v.url_type != 0">
        </ion-slide>
        <ion-slide>
            <img ng-src="http://www.xhsdyun.com/Storage/template/20170210/6362231565883487878862496.jpg" alt="{{v.title}}" ng-click="jumpInfo(v)" ng-if="v.url_type != 0">
        </ion-slide>
    </ion-slide-box>


    <div class="item ptb-10 bd-lr-none clearfix">
        <span class="f-34">热门书籍</span>
        <span class="f-24 fr c-main" ui-sref="indexClassify({id:xx})">更多&gt;&gt;</span>
    </div>
    <div class="index-list bg-white b-bot">
        <div class="index-item" ui-sref="indexProDetail({goodId:v2.id})">
            <img ng-src="http://xhsdyun.com/Storage/master/product/thumbs310/310_cc94d03fb2b74850b87d04d3c7a3da78.jpg" alt="">
            <p class="text-left f-30 text-overflow-2">读者文摘</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                <span class="c-red f-30">&yen;38.00</span>
                <span class="fr c-6 f-24">月销量 5笔</span>
            </p>
        </div>
        <div class="index-item" ui-sref="indexProDetail({goodId:v2.id})">
            <img ng-src="http://xhsdyun.com/Storage/master/product/thumbs310/310_cc94d03fb2b74850b87d04d3c7a3da78.jpg" alt="">
            <p class="text-left f-30 text-overflow-2">读者文摘</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                <span class="c-red f-30">&yen;38.00</span>
                <span class="fr c-6 f-24">月销量 5笔</span>
            </p>
        </div>
        <div class="index-item" ui-sref="indexProDetail({goodId:v2.id})">
            <img ng-src="http://xhsdyun.com/Storage/master/product/thumbs310/310_69db97e719e34085b55640f8da393b2e.jpg" alt="">
            <p class="text-left f-30 text-overflow-2">大国医</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                <span class="c-red f-30">&yen;18.00</span>
                <span class="fr c-6 f-24">月销量 10笔</span>
            </p>
        </div>
        <div class="index-item" ui-sref="indexProDetail({goodId:v2.id})">
            <img ng-src="http://xhsdyun.com/Storage/master/product/thumbs310/310_cc94d03fb2b74850b87d04d3c7a3da78.jpg" alt="">
            <p class="text-left f-30 text-overflow-2">读者文摘</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                <span class="c-red f-30">&yen;38.00</span>
                <span class="fr c-6 f-24">月销量 5笔</span>
            </p>
        </div>
        <div class="index-item" ui-sref="indexProDetail({goodId:v2.id})">
            <img ng-src="http://xhsdyun.com/Storage/master/product/thumbs310/310_cc94d03fb2b74850b87d04d3c7a3da78.jpg" alt="">
            <p class="text-left f-30 text-overflow-2">读者文摘</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                <span class="c-red f-30">&yen;38.00</span>
                <span class="fr c-6 f-24">月销量 5笔</span>
            </p>
        </div>
        <div class="index-item" style="border:none" ng-if="v.goods.length % 2 == 1"></div>
    </div>

</ion-content>
