<ion-header-bar align-title="center" class="app-bar">
    <div class="title">代理</div>
</ion-header-bar>
<style>
    .premise {
        position: relative;
        margin-bottom: 10px;
    }

        .premise h2 {
            height: 40px;
            line-height: 40px;
            background-color: #EDF1F2;
            text-indent: 10%;
            font-size:16px
        }

	    .premiseInfo {
	        padding: 12px 0;
	    }

        .premiseInfo ul li:after {
            content: "";
            clear: both;
            display: block;
            height: 0;
        }

        .premiseInfo ul li:first-child {
            margin-bottom: 18px;
        }

        .premiseInfo ul li {
            width: 100%;
            font-size: 12px;
            padding: 7px 0 5px 10%;
        }

            .premiseInfo ul li p:last-child {
                float: right;
                margin-right: 3%;
                color: #999999;
            }

            .premiseInfo ul li p:first-child {
                float: left;
            }

            .premiseInfo ul li p.success:last-child {
                color: #55B700;
            }

            .premiseInfo ul li p:first-child span {
                display: block;
                width: 100%;
            }

            .premiseInfo ul li p span {
                display: block;
                text-align: right;
                height: 15px;
            }

            .premiseInfo ul li p small {
                font-size: 0.5em;
            }

    .progress {
        position: absolute;
        left: 10px;
        top: 13px;
        width: auto;
        height: auto;
        background-color: transparent;
        box-shadow: none;
        overflow: visible;
    }

        .progress .radius {
            position: relative;
            width: 15px;
            height: 15px;
            background-color: #999999;
            border-radius: 50%;
            color: #fff;
            text-align: center;
            margin: 0 auto;
        }

        .progress .line {
            width: 1px;
            height: 32px;
            background-color: #D5D5D5;
            margin: 0 auto;
        }

            .progress .line.success {
                width: 2px;
            }

        .progress .success {
            background-color: #55B700;
        }

        .progress .radius .bgradius {
            position: absolute;
            display: none;
            width: 25px;
            height: 25px;
            font-size: 20px;
            background-color: #55B700;
            border-radius: 50%;
            left: -5px;
            top: -5px;
        }

        .progress .radius.success.show .bgradius {
            display: block;
        }


    .privilegeList {
        padding: 0 10px;
    }

        .privilegeList ul li {
            padding-left: 35px;
            margin-bottom: 10px;
            position: relative;
        }

            .privilegeList ul li p {
                position: relative;
                background-color: #F8F8F8;
                padding: 5px 10px;
                border-radius: 4px;
                border: 1px solid #E6E6E6;
                color: #666666;
            }

                .privilegeList ul li p:before, .privilegeList ul li p:after {
                    position: absolute;
                    left: -7px;
                    top: 50%;
                    margin-top: -10px;
                    content: "◆";
                    color: #F8F8F8;
                    font-size: 16px;
                    z-index: 20;
                }

                .privilegeList ul li p:after {
                    color: #E6E6E6;
                    left: -8px;
                    z-index: 10;
                }

            .privilegeList ul li i {
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -14px;
                display: block;
                width: 25px;
                height: 28px;
                background-image: url(../templates/common/images/icon.png);
                background-repeat: no-repeat;
                background-size: 25px;
            }

            .privilegeList ul li:nth-of-type(2) i {
                background-position: 0 -28px;
            }

            .privilegeList ul li:nth-of-type(3) i {
                background-position: 0 -56px;
            }

            .privilegeList ul li:nth-of-type(4) i {
                background-position: 0 -85px;
            }
</style>
<ion-content class="page page-index" has-bouncing="true" overflow-scroll="false">
	<div class="container">
    <div class="premise">
        <h2>申请成为分销商的前提</h2>
        <div class="premiseInfo">
            <ul>
                <li id="first">
                    <p>申请成为商城会员(且登入)</p>
                    <p class="success">已达成</p>
                </li>
                <li id="second">
                    <p class="seth">
                        <span id="minMoney">账号在商城累计消费额满2000元</span>
                    </p>
                    <p>
                        <span>未达成</span>
                        <small id="_Expenditure">(已消费0.00元)</small>
                    </p>
                </li>
            </ul>
        </div>
        <div class="progress">
            <div class="radius success show">
                <div class="bgradius">√</div>
            </div>
            <div class="line success" id="lineOne"></div>
            <div class="radius success" id="radiusOne">
                <div class="bgradius">√</div>
            </div>
            <div class="line two" id="lineTwo"></div>
            <div class="radius" id="radiusTwo">
                <div class="bgradius">√</div>
            </div>
            <div class="line"></div>
        </div>
    </div>
    <div class="btnList">
        <div style="padding: 5px; text-align: center; font-size: 16px; line-height: 20px; background: #ed5565; display: block;border-radius: 4px;color:white;margin-bottom:10px;">继续逛逛</div>
        <div style="padding: 5px; text-align: center; font-size: 16px; line-height: 20px; background: #fff; display: block;border-radius: 4px;">分销商特权</div>
    </div>
    <div class="privilegeList">
        
        <ul>
            <li>
                <i></i>
                <p>零库存开设微信店铺，平台统一发货</p>
            </li>
            <li>
                <i></i>
                <p>拥有专属推广链接，快速发展下级分销商和会员</p>
            </li>
            <li>
                <i></i>
                <p>除了可以分享店铺主页和商品，平台也提供精美素材供分销商分享</p>
            </li>
            <li>
                <i></i>
                <p>通过下级会员消费获得佣金收益，佣金可以提现</p>
            </li>
        </ul>
    </div>
</div>
</ion-content>
