<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">热帖推荐</div>
</ion-header-bar>
<ion-content class="page page-community" has-bouncing="true" overflow-scroll="false">
    <div class="mtb-15">
        <a class="item item-thumbnail-left ptb-10 hot-info-recommend" ng-repeat="v in hotPost" ui-sref="postDetail({postId:{{v.id}}})">
            <img ng-src="{{v.cover}}">
            <div class="f-30 text-overflow">{{v.title}}</div>
            <div class="f-24 c-9 text">{{v.content}}</div>
            <p class="clearfix f-22 c-9"><span class="fl">{{v.time * 1000 | dmDateFormat}}</span><span class="fr"><i class="iconfont icon-like c-3"></i>&nbsp;{{v.likes}}</span></p>
        </a>
    </div>
    <div class="text-center mt-30 f-30 c-9" ng-if="noData">没有更多帖子啦~</div>
    <ion-infinite-scroll  ng-if="!noData" on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll>
</ion-content>
