<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">版块分类</div>
</ion-header-bar>
<ion-content class="page page-community" has-bouncing="true" overflow-scroll="false">
    <div class="mtb-15">
        <div class="item ptb-10 bd-lr-none">
            <div class="module-list">
                <div class="list-item w-25p" ng-repeat="v in categories" ui-sref="moduleDetail({moduleId:'{{v.id}}',moduleName:'{{v.name}}'})">
                    <img ng-src="{{v.pic}}" alt="">
                    <div class="f-24 c-6 text-overflow">{{v.name}}</div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
