<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">发帖</div>
</ion-header-bar>
<ion-content class="page-community" has-bouncing="true" overflow-scroll="false">
    <div class="container">
        <div class="mt-20"></div>
        <input type="text" class="community-input f-34" placeholder="请填写帖子标题" ng-model="post.title">
        <textarea rows="12" class="community-input mt-20" placeholder="请填写帖子内容" ng-model="post.content"></textarea>
        <div class="mt-10" style="white-space: normal;" ng-show="thumbnail.length != 0">
            <div class="return-img" ng-repeat="v in thumbnail track by $index">
                <div class="success-modal" ng-show="pics.length >= ($index + 1)">上传成功</div>
                <div class="delete-wrap" ng-click="deleteImg($index)">
                    <div class="delete">x</div>
                </div>
                <img ng-src="{{v}}" alt="">
            </div>
            <div class="return-img" ng-click="imgPicker()">
                <img src="img/icon-return-add.png" class="return-img" alt="">
            </div>
        </div>
        <div class="mt-30">
            <i class="iconfont icon-laugh c-9" style="font-size: 33px;margin-right: 8px;" ng-click="popShow('expressionPop')"></i>
            <i class="iconfont icon-photo c-9" style="font-size: 30px;margin-right: 8px;" ng-click="imgPicker()"></i>
            <!-- <i class="iconfont icon-video c-9" style="font-size: 30px;margin-right: 8px;"></i> -->
            <i class="iconfont icon-take-photo c-9" style="font-size: 30px;margin-right: 8px;" ng-click="takePic()" ng-hide="notApp"></i>
            <!-- <i class="iconfont icon-take-video c-9" style="font-size: 30px;margin-right: 8px;"></i> -->
            <button class="button fr btn-main" ng-click="submitPost()">发布</button>
        </div>
    </div>
</ion-content>
<div class="pop-up-wrap" ng-show="expressionPop">
    <div class="bg" ng-click="popHide('expressionPop')"></div>
    <div class="public-pop-up">
        <div class="text-center mt-20" style="margin-left: -1rem;margin-right: -1rem;">
            <dmExpression class="dmExpression" dm-input="post.content"></dmExpression>
        </div>
    </div>
</div>
