<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">最新揭晓</div>
</ion-header-bar>
<ion-content class="page page-yiyuan" has-bouncing="true" overflow-scroll="false">
    <div class="tenRmb-list b-top mt-30">
        <div class="tenRmb-list-item b-bot">
            <img src="img/Announcing.png" alt="" class="icon-announcing">
            <img src="http://placehold.it/190x190" alt="" class="img-left">
            <div class="text-wrap">
                <p class="desc2 f-28 c-6">VR眼镜VR眼镜VR眼镜VR眼镜VR眼VR眼镜VR眼镜VR眼镜VR眼镜VR眼VR眼镜VR眼镜VR眼镜VR眼镜</p>
                <p class="c-6 f-28">期&nbsp;&nbsp;&nbsp;&nbsp;号：<span class="c-main">618</span></p>
                <p class="c-6 f-24">揭晓倒计时：<span class="f-34 c-main">00  ：10  ：00</span></p>
            </div>   
        </div>
        <div class="tenRmb-list-item b-bot">
            <img src="http://placehold.it/190x190" alt="" class="img-left">
            <div class="text-wrap">
                <p class="desc2 f-28 c-6">VR眼镜VR眼镜VR眼镜VR眼镜VR眼VR眼镜VR眼镜VR眼镜VR眼镜VR眼VR眼镜VR眼镜VR眼镜VR眼镜</p>
                <p class="c-6 f-28">期&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：<span class="c-main">618</span></p>
                <p class="c-6 f-28">获 奖 者 ：<span class="c-main">我也不知道是谁</span></p>
                <p class="c-6 f-28">幸运号码：<span class="c-main">100861</span></p>
                <p class="c-6 f-28">本期参与：<span class="c-main">4人次</span></p>
            </div>   
        </div>
    </div>
</ion-content>
