<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">奖品详情</div>
</ion-header-bar>
<ion-content class="page page-yiyuan" has-bouncing="true" overflow-scroll="false">
    <ion-slide-box class="swiper">
        <ion-slide>
            <img src="http://placehold.it/750x750" alt="">
        </ion-slide>
        <ion-slide>
            <img src="http://placehold.it/750x750" alt="">
        </ion-slide>
        <ion-slide>
            <img src="http://placehold.it/750x750" alt="">
        </ion-slide>
    </ion-slide-box>
    <div class="item item-icon-left bd-lr-none"></div>
    <div class="container mt-30">
        <div class="item item-avatar item-avatar-yiyuan">
            <img src="venkman.jpg">
            <p class="c-6 f-28">期&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：<span class="c-main">618</span></p>
            <p class="c-6 f-28">获 奖 者 ：<span class="c-main">我也不知道是谁</span></p>
            <p class="c-6 f-28">本期参与：<span class="c-main">4人次</span></p>
            <p class="c-6 f-28">揭晓时间：<span class="c-main">2016-06-07  14:58:54:09</span></p>
            <div class="icon-leftTop">
                <img src="img/yiyuan-rewarded.png" alt="">
            </div>
        </div>
        <div class="lucky-num mt-20">
            <span class="c-main">幸运号码：1008611</span>
            <button class="button btn-main">计算详情</button>
        </div>
    </div>
    <div class="mt-30">
        <a class="item ptb-20 bd-lr-none">
            <span class="f-26">图文详情</span>
            <i class="item-note c-3 f-34 ion-chevron-right"></i>
            <span class="item-note c-9 f-26 mr-30 mw-65p text-overflow">建议在wifi环境下查看</span>
        </a>
        <a class="item ptb-20 bd-lr-none">
            <span class="f-26">往期揭晓</span>
            <i class="item-note c-3 f-34 ion-chevron-right"></i>
        </a>
        <a class="item ptb-20 bd-lr-none">
            <span class="f-26">晒单分享</span>
            <i class="item-note c-3 f-34 ion-chevron-right"></i>
        </a>
        <a class="item ptb-20 bd-lr-none">
            <span class="f-26">参与记录</span>
            <i class="item-note c-3 f-34 ion-chevron-right"></i>
        </a>
    </div>
    <div class="has-bot-bar"></div>
</ion-content>
<div class="bar bar-footer discover-footer container">
    <p class="f-24 c-9 m-0 flex1">新的一期正在火热进行中</p>
    <button class="button btn-main mr-30" style="background-color: #ff0000;">直接购买</button>
    <button class="button btn-main" style="background-color: #ff6000;position: initial;">继续夺宝</button>
</div>