<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">宝贝详情</div>
    <button class="button button-clear" ui-sref="yiyuanRule">规则</button>
</ion-header-bar>
<ion-content class="page page-yiyuan" has-bouncing="true" overflow-scroll="false">
    <ion-slide-box class="swiper">
        <ion-slide>
            <img src="http://placehold.it/750x750" alt="">
        </ion-slide>
        <ion-slide>
            <img src="http://placehold.it/750x750" alt="">
        </ion-slide>
        <ion-slide>
            <img src="http://placehold.it/750x750" alt="">
        </ion-slide>
    </ion-slide-box>
    <div class="item ptb-20 bd-lr-none">
        <p class="f-34">暴风魔镜VR眼镜</p>
        <p class="f-24 c-9">看片神器  高科技  一切皆有可能</p>
        <p class="f-30 c-9">期号：<span class="c-main">2</span></p>
    </div>
    <div class="mtb-15">
        <div class="item ptb-20 bd-lr-none f-26">
            <span>共需 <span class="c-main">199</span> 人次</span>
            <span class="item-note c-9 f-26 text-overflow">剩余 <span class="c-main">199</span> 人次</span>
        </div>
        <div class="item ptb-20 bd-lr-none f-26 c-6" style="white-space: normal;">
            <span>你的夺宝号码为： 
                <span>1008611&nbsp;</span>
                <span>1008611&nbsp;</span>
                <span>1008611&nbsp;</span>
                <span>1008611&nbsp;</span>
                <span>1008611&nbsp;</span>
                <span>1008611&nbsp;</span>
            </span>
        </div>
    </div>
    <div class="">
        <a class="item ptb-20 bd-lr-none">
            <span class="f-26">图文详情</span>
            <i class="item-note c-3 f-34 ion-chevron-right"></i>
            <span class="item-note c-9 f-26 mr-30 text-overflow">建议在wifi环境下查看</span>
        </a>
        <a class="item ptb-20 bd-lr-none">
            <span class="f-26">往期揭晓</span>
            <i class="item-note c-3 f-34 ion-chevron-right"></i>
        </a>
        <a class="item ptb-20 bd-lr-none">
            <span class="f-26">晒单分享</span>
            <i class="item-note c-3 f-34 ion-chevron-right"></i>
        </a>
        <a class="item ptb-20 bd-lr-none">
            <span class="f-26">参与记录</span>
            <i class="item-note c-3 f-34 ion-chevron-right"></i>
        </a>
    </div>
    <div class="has-bot-bar"></div>
</ion-content>
<div class="bar bar-footer discover-footer container">
    <p class="c-9 m-0 flex1"><i class="iconfont icon-cart" style="font-size: 26px;"></i></p>
    <button class="button btn-main mr-30" style="background-color: #ff0000;">立即夺宝</button>
    <button class="button btn-main" style="background-color: #ff6000;position: initial;">加入购物车</button>
</div>