<!-- <ion-header-bar align-title="center" class="app-bar" style="height:0;padding:0">
    <button class="button button-icon ion-ios-search-strong c-white"></button>
    <div class="title">一元夺宝</div>
    <div class="bar-right-btns">
        <i class="iconfont icon-cart"></i>
        <i class="iconfont icon-feedback"></i>
    </div>
</ion-header-bar> -->
<ion-content class="page page-yiyuan has-header no-padding" has-bouncing="true" overflow-scroll="true" scroll="true" style="font-size: 0;top:0;">
    <iframe id="iframe" ng-src='{{myURL}}' data-tap-disabled="true" style="width: 100%;height: 100%;" class="{{isIOSApp ? 'withSatusBar' : ''}}"></iframe>
    <!-- <ion-slide-box class="swiper">
        <ion-slide>
            <img src="http://placehold.it/750x320" alt="">
        </ion-slide>
        <ion-slide>
            <img src="http://placehold.it/750x320" alt="">
        </ion-slide>
        <ion-slide>
            <img src="http://placehold.it/750x320" alt="">
        </ion-slide>
    </ion-slide-box>
    <div class="nav-list b-bot">
        <div class="list-item" ui-sref="yiyuanClassify">
            <img src="img/yiyuan-nav-1.png" alt="">
            <div class="f-24 c-6">分类</div>
        </div>
        <div class="list-item" ui-sref="tenRmbArea">
            <img src="img/yiyuan-nav-2.png" alt="">
            <div class="f-24 c-6">十元专区</div>
        </div>
        <div class="list-item" ui-sref="myYiyuanMyShare">
            <img src="img/yiyuan-nav-3.png" alt="" >
            <div class="f-24 c-6">晒单</div>
        </div>
        <div class="list-item" ui-sref="newAnnounced">
            <img src="img/yiyuan-nav-4.png" alt="">
            <div class="f-24 c-6">最新揭晓</div>
        </div>
    </div>
    <div class="item bd-lr-none mtb-15" style="padding: 0;">
        <div class="yiyuan-classify container">
            <div class="classify-item active">
                <span>人气</span>
            </div>
            <div class="classify-item">
                <span class="new">最新</span>
            </div>
            <div class="classify-item">
                <span>进度</span>
            </div>
            <div class="classify-item">
                <span>总需人数<i class="iconfont icon-sort"></i></span>
            </div>
        </div>
    </div>
    <div class="yiyuan-list">
        <div class="yiyuan-item">
            <img src="http://placehold.it/300x300" alt="">
            <p class="text-left f-34">VR眼镜</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                开奖进度&nbsp;<span class="c-main">10%</span>
                <i class="fr iconfont icon-cart c-main"></i>
            </p>
        </div>
        <div class="yiyuan-item">
            <img src="http://placehold.it/300x300" alt="">
            <p class="text-left f-34">VR眼镜</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                开奖进度&nbsp;<span class="c-main">10%</span>
                <i class="fr iconfont icon-cart c-main"></i>
            </p>
        </div>
        <div class="yiyuan-item">
            <img src="http://placehold.it/300x300" alt="">
            <p class="text-left f-34">VR眼镜</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                开奖进度&nbsp;<span class="c-main">10%</span>
                <i class="fr iconfont icon-cart c-main"></i>
            </p>
        </div>
        <div class="yiyuan-item">
            <img src="http://placehold.it/300x300" alt="">
            <p class="text-left f-34">VR眼镜</p>
            <p class="text-left f-24 m-0 c-6 clearfix">
                开奖进度&nbsp;<span class="c-main">10%</span>
                <i class="fr iconfont icon-cart c-main"></i>
            </p>
        </div>
    </div> -->

</ion-content>
