<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">十元专区</div>
    <div class="bar-right-btns">
        <i class="iconfont icon-cart"></i>
    </div>
</ion-header-bar>
<div class="public-subheader bar bar-subheader">
    <div class="classify active">
        <span>全部商品</span>
    </div>
    <div class="classify">
        <span>手机平板</span>
    </div>
    <div class="classify">
        <span>分类1</span>
    </div>
    <div class="classify">
        <span>分类1分类1分类1分类1</span>
    </div>
    <div class="classify">
        <span>更多</span>
    </div>
    <!-- <div class="more-list">
        <div class="classify">
            <span>分类1</span>
        </div>
        <div class="classify">
            <span>分类1</span>
        </div>
        <div class="classify">
            <span>分类1</span>
        </div>
        <div class="classify">
            <span>分类1分类1分类1分类1</span>
        </div>
        <div class="classify">
            <span>分类1</span>
        </div>
        <div class="classify">
            <span>分类1</span>
        </div>
        <div class="classify">
            <span>分类1分类1分类1分类1</span>
        </div>
        <div class="classify">
            <span>分类1</span>
        </div>
    </div> -->
</div>
<ion-content class="page page-yiyuan has-subheader-me" has-bouncing="true" overflow-scroll="false">
    <p class="f-24 c-6 clearfix container mtb-15">共3件商品
        <span class="fr c-main">全部加入购物车</span>
    </p>
    w
</ion-content>
