<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">购物车</div>
</ion-header-bar>
<ion-content class="page page-yiyuan" has-bouncing="true" overflow-scroll="false">
    <!-- <div class="text-center" ng-show="cartEmpty"> -->
    <div class="text-center">
        <div class="ptb-20"></div>
        <p class="f-34">您的购物车还是空的</p>
        <div class="ptb-20"></div>
        <div class="ptb-10"></div>
        <button class="button btn-main">马上去夺宝</button>
    </div>
    <div class="tenRmb-list b-top">
        <div class="tenRmb-list-item b-bot">
            <label class="checkbox checkbox-small">
                <input type="checkbox">
            </label>
            <img src="http://placehold.it/190x190" alt="" class="img-left">
            <div class="text-wrap">
                <p class="f-34 clearfix text-overflow">
                    风魔镜手机3D风魔镜手机3D风魔镜手机3D风魔镜手机3D风魔镜手机3D
                </p>
                <p class="f-24 c-9 desc">狂拽酷炫吊炸天 就是这么溜</p>
                <p class="c-red f-28">&yen;199.00</p>
                <div class="clearfix" style="font-size: 0;">
                    <div class="add-btn">-</div>
                    <div class="num">1</div>
                    <div class="add-btn">+</div>
                    <span class="fr f-28 c-9">删除</span>
                </div>
            </div>
        </div>
        <div class="tenRmb-list-item b-bot">
            <label class="checkbox checkbox-small">
                <input type="checkbox">
            </label>
            <img src="http://placehold.it/190x190" alt="" class="img-left">
            <div class="text-wrap">
                <p class="f-34 clearfix text-overflow">
                    风魔镜手机3D风魔镜手机3D风魔镜手机3D风魔镜手机3D风魔镜手机3D
                </p>
                <p class="f-24 c-9 desc">狂拽酷炫吊炸天 就是这么溜</p>
                <p class="c-red f-28">&yen;199.00</p>
                <div class="clearfix" style="font-size: 0;">
                    <div class="add-btn">-</div>
                    <div class="num">1</div>
                    <div class="add-btn">+</div>
                    <span class="fr f-28 c-9">删除</span>
                </div>
            </div>
        </div>
    </div>
    <div class="has-bot-bar"></div>
</ion-content>
<div class="bar bar-footer discover-footer container">
    <label class="checkbox checkbox-small">
        <input type="checkbox">
    </label>
    <span class="f-28 mr-30">全选</span>
    <p class="flex1 m-0 f-34">合计：<span class="c-main">&yen:199.00</span></p>
    <button class="button btn-main" style="width: 70px;">结算(1)</button>
</div>
