<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">夺宝规则</div>
</ion-header-bar>
<ion-content class="page page-yiyuan" has-bouncing="true" overflow-scroll="false">
    <div class="container">
        <div class="mt-20"></div>
        <p class="c-main f-30">1、这只是个样式。</p>
        <p class="f-28">这只是个样式，不要问我规则是什么。我什么都不知道！我只是个吃瓜的观众。</p>
        <p class="c-main f-30">1、这只是个样式。</p>
        <p class="f-28">这只是个样式，不要问我规则是什么。我什么都不知道！我只是个吃瓜的观众。</p>
    </div>
</ion-content>
