<ion-header-bar align-title="center" class="app-bar">
    <button class="button button-icon ion-ios-arrow-left c-white" ng-click="goBack()"></button>
    <div class="title">分类浏览</div>
</ion-header-bar>
<ion-content class="page page-yiyuan" has-bouncing="true" overflow-scroll="false">
	<a class="item item-yiyuan-classify item-icon-left bd-lr-none">
        <i class="icon iconfont icon-message"></i> 
        <span>全部商品</span>
    </a>
    <a class="item item-yiyuan-classify item-icon-left bd-lr-none">
        <i class="icon iconfont icon-like-full"></i> 
        <span>10元专区</span>
    </a>
    <a class="item item-yiyuan-classify item-icon-left bd-lr-none">
        <i class="icon icon iconfont icon-repair"></i> 
        <span>手机平板</span>
    </a>
</ion-content>
