<ion-header-bar align-title="center" class="app-bar">
    <div class="title">活动列表</div>
</ion-header-bar>
<ion-content class="page page-index" has-bouncing="true" overflow-scroll="false">
    <div class="card">
        <div class="item item-text-wrap">
            <p>活动内容：满100减30</p>
            <p>活动时间：2017年3月28～2017年4月20号</p>
        </div>
        <div class="item item-text-wrap">
            <p>科技好书满100减30满200减60满300减90～开学促销活动，指定书籍。</p>
        </div>
        <div class="item item-text-wrap" ui-sref="indexClassify({id:xx})">
            <span>参加活动</span>
            <span class="f-24 fr c-main">&gt;</span>
        </div>
    </div>
</ion-content>
